<!doctype html>
<html>
    <script language="JavaScript">
        function Refresh() {
			if (location.href != 'localhost:8000/index')
			{
				location.href = 'localhost:8000/index';
			}
			else
			{
				windows.location.reload()
			}
			
			setTimeout("Refresh()", 1000);
			
			// 1. 得到任务开始的时间和任务的名称
			var nowEventStartTime = document.getElementById("NowEventStartTime").innerHTML;
			var nowEventName = document.getElementById("NowEventName").innerHTML;
			//alert(nowEventName);
			//alert(nowEventStartTime);
			
			// 2. 计算已经开始任务多长时间
			// var timeTemp = nowEventStartTime.split(" ");
			var lastIndex = nowEventStartTime.lastIndexOf(' ');
			var time2 = nowEventStartTime.substring(0, lastIndex)
			var now = new Date();
			var eventDate = Date.parse(time2);
			var leftsecond = Math.round((now - eventDate) / 1000);
			d=parseInt(leftsecond/3600/24);
			h=parseInt((leftsecond/3600)%24);
			m=parseInt((leftsecond/60)%60);
			s=parseInt(leftsecond%60);

			document.getElementById("NowEventCountDown").innerHTML=d+"天"+h+"时"+m+"分"+s+"秒";
			
			// 3. 根据名称判断，该任务可持续多长时间
			var backSecond = 25 * 60;
			switch (nowEventName)
			{
				case "编码/写作":
					{
					}
					break;
				case "需求分析/写提纲":
					{
					}
					break;
				case "上网休息看视频":
					{
						backSecond = 5 * 60;
					}
					break;
				case "阅读":
					{
					}
					break;
				case "画画":
					{
					}
					break;
				case "睡觉":
					{
						backSecond = 24 * 60 * 60;
					}
					break;
				case "吃饭":
					{
						backSecond = 2 * 60 * 60;
					}
					break;
				case "聊天/出门玩":
					{
						backSecond = 24 * 60 * 60;
					}
					break;
			}
			
			// 4. 任务到期，弹框提示
			if (leftsecond > backSecond)
			{
				alert("任务到期，请切换。");
			}
        }

        window.onload = function() {Refresh();}
    </script>
    <head>
       <title>Step Psth</title>
		<link rel="stylesheet" href="./bootstrap.css" media="screen">
    </head>
    <body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
				  <a href="./index" class="navbar-brand">Step Psth</a>
				  <!--
				  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  -->
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">
				{{range .EventTypeList}}
					<li><a href="./BeginEvent?TypeId={{.TypeId}}">{{.TypeName}}</a></li>
				{{end}}
				</ul>
				</div>
			</div>
		</div>
		<div class="page-header">
		</div>
		<div class="container">
            <h1>
                {{with .NowStep}}
                    <div id="NowEventName">{{.EventTypeName}}</div>
					<div id="NowEventStartTime" style="visibility:hidden;">{{.StartTime}}</div>
					<div id="NowEventCountDown"></div>					
                {{end}}
            </h1>
			<table class="table table-striped table-bordered table-hover">
			   <thead>
				   <tr>
					   <th>事件名</th>
					   <th>时长</th>
					   <!-- <th>开始时间</th>
					   <th>结束时间</th> -->
				   </tr>
			   </thead>
				<tbody>
					{{range .PsthList}}
					<tr>
						<td>『{{.EventTypeName}}』</td>
						<td>{{.LastTime}} </td> 
						<!-- <td>{{.StartTime}}</td>
						<td>{{.EndTime}}</td> -->
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
    </body>
	
</html>
